<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="/" exactDestination="true" childOnly="true" httpResponseStatus="Temporary" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/*" />
            </rewriteMaps>
            <rules>
                <rule name="rewrite to root" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="localhost" negate="true" />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
